<th:block th:replace="~{fragments/layout :: layout('Contacto', ~{::section})}">
  <section class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Contáctanos</h5>
          <p class="mb-1">Email: <a href="mailto:comunicaciones@fusalmo.org">comunicaciones@fusalmo.org</a></p>
          <p class="mb-3">Tel: (503) 0000-0000</p>
          <div class="d-flex gap-3">
            <a class="btn btn-outline-secondary btn-sm" href="#">Facebook</a>
            <a class="btn btn-outline-secondary btn-sm" href="#">Instagram</a>
            <a class="btn btn-outline-secondary btn-sm" href="#">Twitter</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</th:block>
